openapi: 3.0.0
info:
  description: 'Access token should be sent along with every request to Drime Cloud API in authorization header: `Authorization: Bearer <Token>` <br> This token can either be acquired via `auth/login` endpoint or from account settings page on [Drime Cloud website](https://app.drime.cloud/account/settings).'
  version: '1.0.0'
  title: Drime Cloud API
  license:
    name: Proprietary
    url: https://app.drime.cloud/terms
servers:
  - url: https://app.drime.cloud/api/v1
    description: Drime Cloud API
security:
  - accessToken: []
tags:
  - name: Uploads
    description: Upload files to Drime Cloud
  - name: Multipart Uploads
    description: S3 multipart upload endpoints for large files
  - name: Auth
    description: Authenticate requests to the API
  - name: User & Workspaces
    description: User information and workspace management
  - name: Files and Folders
    description: FileEntry refers to either a file or folder on Drime Cloud
  - name: Sharing
    description: Manage file entry collaborators
  - name: Starring
    description: Mark or unmark entries as starred
  - name: Shareable Links
    description: Manage shareable links for file or folder
  - name: Vault
    description: Encrypted storage operations
  - name: Notes
    description: Manage user notes
paths:
  /cli/loggedUser:
    get:
      tags:
        - User & Workspaces
      summary: Get logged-in user information
      operationId: getLoggedUser
      responses:
        '200':
          description: Successfully retrieved user information
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/401-Response'

  /me/workspaces:
    get:
      tags:
        - User & Workspaces
      summary: Get user workspaces
      operationId: getUserWorkspaces
      parameters:
        - $ref: '#/components/parameters/XSRFToken'
        - name: workspaceId
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: Optional workspace context. When provided, the response may include a detailed permissions list for the current user in that workspace.
      responses:
        '200':
          description: Successfully retrieved workspaces
          content:
            application/json:
              schema:
                type: object
                properties:
                  workspaces:
                    type: array
                    items:
                      $ref: '#/components/schemas/Workspace'
                  status:
                    type: string
                    example: success
                  seo:
                    type: object
                    nullable: true
              examples:
                basic:
                  summary: Workspace list
                  value:
                    workspaces:
                      - id: 1873
                        name: test
                        avatar: https://www.gravatar.com/avatar/a6664736cf887bcf2073513516226495?s=&d=retro
                        owner_id: 15843
                        created_at: '2025-12-18T18:39:07.000000Z'
                        updated_at: '2025-12-18T18:39:07.000000Z'
                        members_count: 1
                        currentUser:
                          role_name: Workspace Owner
                          email: user@example.com
                          workspace_id: 1873
                          joined_at: '2025-12-18 18:39:07'
                          role_id: 3
                          is_owner: true
                          member_id: 2735
                          id: 15843
                          first_name: null
                          last_name: null
                          avatar: storage/avatars/example.jpg
                          display_name: user
                          model_type: member
                        owner:
                          role_name: Workspace Owner
                          email: user@example.com
                          workspace_id: 1873
                          joined_at: '2025-12-18 18:39:07'
                          role_id: 3
                          is_owner: true
                          member_id: 2735
                          id: 15843
                          first_name: null
                          last_name: null
                          avatar: storage/avatars/example.jpg
                          display_name: user
                          model_type: member
                    status: success
                    seo: null
                withPermissions:
                  summary: Workspace list with per-workspace permissions (when workspaceId is provided)
                  value:
                    workspaces:
                      - id: 1874
                        name: test2
                        avatar: https://www.gravatar.com/avatar/a6664736cf887bcf2073513516226495?s=&d=retro
                        owner_id: 15843
                        created_at: '2025-12-18T18:39:45.000000Z'
                        updated_at: '2025-12-18T18:39:45.000000Z'
                        members_count: 1
                        currentUser:
                          role_name: Workspace Owner
                          email: user@example.com
                          workspace_id: 1874
                          joined_at: '2025-12-18 18:39:45'
                          role_id: 3
                          is_owner: true
                          member_id: 2736
                          id: 15843
                          first_name: null
                          last_name: null
                          avatar: storage/avatars/example.jpg
                          display_name: user
                          model_type: member
                          permissions:
                            - id: 17
                              name: files.view
                              restrictions: []
                            - id: 45
                              name: workspace_members.invite
                              restrictions: []
                        owner:
                          role_name: Workspace Owner
                          email: user@example.com
                          workspace_id: 1874
                          joined_at: '2025-12-18 18:39:45'
                          role_id: 3
                          is_owner: true
                          member_id: 2736
                          id: 15843
                          first_name: null
                          last_name: null
                          avatar: storage/avatars/example.jpg
                          display_name: user
                          model_type: member
                          permissions:
                            - id: 17
                              name: files.view
                              restrictions: []
                            - id: 45
                              name: workspace_members.invite
                              restrictions: []
                    status: success
                    seo: null
        '401':
          $ref: '#/components/responses/401-Response'

  /user/space-usage:
    get:
      tags:
        - User & Workspaces
      summary: Get user space usage
      operationId: getSpaceUsage
      parameters:
        - $ref: '#/components/parameters/WorkspaceId'
      responses:
        '200':
          description: Successfully retrieved space usage
          content:
            application/json:
              schema:
                type: object
                properties:
                  used:
                    type: integer
                    description: Total space used in bytes
                    example: 120042057597
                  available:
                    type: integer
                    description: Available space in bytes
                    example: 6597069766656
                  status:
                    type: string
                    example: success

        '401':
          $ref: '#/components/responses/401-Response'

  /workspace:
    post:
      tags:
        - User & Workspaces
      summary: Create a new workspace
      operationId: createWorkspace
      parameters:
        - $ref: '#/components/parameters/XSRFToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  example: 'My Workspace'
            examples:
              example:
                value:
                  name: test2
      responses:
        '200':
          description: Workspace created
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  workspace:
                    $ref: '#/components/schemas/Workspace'
              examples:
                example:
                  value:
                    workspace:
                      owner_id: 15843
                      name: test2
                      updated_at: '2025-12-18T18:39:45.000000Z'
                      created_at: '2025-12-18T18:39:45.000000Z'
                      id: 1874
                      members_count: 1
                      currentUser:
                        role_name: Workspace Owner
                        email: user@example.com
                        workspace_id: 1874
                        joined_at: '2025-12-18 18:39:45'
                        role_id: 3
                        is_owner: true
                        member_id: 2736
                        id: 15843
                        first_name: null
                        last_name: null
                        avatar: storage/avatars/example.jpg
                        display_name: user
                        model_type: member
                      owner:
                        role_name: Workspace Owner
                        email: user@example.com
                        workspace_id: 1874
                        joined_at: '2025-12-18 18:39:45'
                        role_id: 3
                        is_owner: true
                        member_id: 2736
                        id: 15843
                        first_name: null
                        last_name: null
                        avatar: storage/avatars/example.jpg
                        display_name: user
                        model_type: member
                    status: success
        '401':
          $ref: '#/components/responses/401-Response'
        '422':
          $ref: '#/components/responses/422-Response'

  /workspace/{id}:
    get:
      tags:
        - User & Workspaces
      summary: Get workspace details
      operationId: getWorkspace
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Workspace details
          content:
            application/json:
              schema:
                type: object
                properties:
                  workspace:
                    $ref: '#/components/schemas/Workspace'
                  status:
                    type: string
                    example: success
        '401':
          $ref: '#/components/responses/401-Response'
    post:
      tags:
        - User & Workspaces
      summary: Update workspace
      operationId: updateWorkspace
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
      responses:
        '200':
          description: Workspace updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  workspace:
                    $ref: '#/components/schemas/Workspace'
                  status:
                    type: string
                    example: success
        '401':
          $ref: '#/components/responses/401-Response'
    delete:
      tags:
        - User & Workspaces
      summary: Delete workspace
      description: |
        Deletes a workspace. Uses Laravel method spoofing - send as POST with `_method=DELETE` query parameter.
        Only the workspace owner can delete a workspace.
      operationId: deleteWorkspace
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: _method
          in: query
          required: true
          schema:
            type: string
            enum: [DELETE]
          description: Laravel method spoofing - must be DELETE
      responses:
        '200':
          description: Workspace deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
              examples:
                example:
                  value:
                    status: success
        '401':
          $ref: '#/components/responses/401-Response'
        '403':
          description: Forbidden - user is not the workspace owner

  /workspace/{id}/avatar:
    post:
      tags:
        - User & Workspaces
      summary: Upload workspace avatar
      operationId: updateWorkspaceAvatar
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                avatar:
                  type: string
                  description: 'Base64 encoded image or multipart form data (TBD)'
      responses:
        '200':
          description: Avatar updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  workspace:
                    $ref: '#/components/schemas/Workspace'
                  status:
                    type: string
                    example: success
        '401':
          $ref: '#/components/responses/401-Response'

  /workspace_roles:
    get:
      tags:
        - User & Workspaces
      summary: Get available workspace roles
      operationId: getWorkspaceRoles
      responses:
        '200':
          description: Roles retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  pagination:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/WorkspaceRole'
                      current_page:
                        type: integer
                      last_page:
                        type: integer
                      per_page:
                        type: integer
                      total:
                        type: integer
                        example: 3
                  status:
                    type: string
                    example: success
        '401':
          $ref: '#/components/responses/401-Response'

  /workspace_files:
    get:
      tags:
        - User & Workspaces
      summary: Get workspace file stats
      operationId: getWorkspaceFiles
      parameters:
        - name: workspaceId
          in: query
          schema:
            type: integer
          description: Workspace ID. Use `0` for the user's default personal workspace.
      responses:
        '200':
          description: Stats retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  files:
                    type: integer
                    example: 2
                  size:
                    type: integer
                    example: 4846974
                  status:
                    type: string
                    example: success
        '401':
          $ref: '#/components/responses/401-Response'

  /notes:
    get:
      tags:
        - Notes
      summary: Get all notes
      operationId: getNotes
      responses:
        '200':
          description: Notes retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    title:
                      type: string
                    body:
                      type: string
                    created_at:
                      type: string
                    updated_at:
                      type: string
        '401':
          $ref: '#/components/responses/401-Response'

  /getNote/{id}:
    get:
      tags:
        - Notes
      summary: Get a single note
      operationId: getNote
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Note retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      title:
                        type: string
                      body:
                        type: string
        '401':
          $ref: '#/components/responses/401-Response'
        '404':
          description: Note not found

  /notes/create:
    post:
      tags:
        - Notes
      summary: Create a new note
      operationId: createNote
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  example: My Note Title
                body:
                  type: string
                  example: Note content goes here
      responses:
        '201':
          description: Note created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  note:
                    type: object
                    properties:
                      id:
                        type: integer
                      title:
                        type: string
                      body:
                        type: string
                      created_at:
                        type: string
                      updated_at:
                        type: string
        '401':
          $ref: '#/components/responses/401-Response'
        '422':
          $ref: '#/components/responses/422-Response'

  /users/{userId}/folders:
    get:
      tags:
        - Files and Folders
      summary: Get all folders for a user
      operationId: getUserFolders
      parameters:
        - $ref: '#/components/parameters/XSRFToken'
        - name: userId
          in: path
          required: true
          schema:
            type: integer
          description: ID of the user
        - name: userId
          in: query
          schema:
            type: integer
          description: Optional query-string user ID (used by the web client)
        - name: workspaceId
          in: query
          schema:
            type: integer
          description: Filter folders by workspace ID. Use `0` for the user's default personal workspace.
        - name: vault
          in: query
          schema:
            type: integer
            enum: [0, 1]
          description: When set to `1`, only return vault (encrypted) folder tree.
      responses:
        '200':
          description: Successfully retrieved folders
          content:
            application/json:
              schema:
                type: object
                properties:
                  folders:
                    type: array
                    items:
                      $ref: '#/components/schemas/FileEntry'
                  rootFolder:
                    description: Root folder information (web client uses this for breadcrumbs)
                    allOf:
                      - $ref: '#/components/schemas/FileEntry'
                  status:
                    type: string
                    example: success
                  seo:
                    type: object
                    nullable: true
              examples:
                vaultFolders:
                  summary: Vault folder tree (vault=1)
                  value:
                    folders:
                      - id: 111344
                        name: folder
                        parent_id: null
                        path: '111344'
                        type: folder
                        workspace_id: 0
                        permissions:
                          files.update: true
                          files.create: true
                          files.download: true
                          files.delete: true
                        hash: MTExMzQ0fHBhZA
                        url: null
                        users: []
                    rootFolder:
                      type: folder
                      id: 0
                      hash: '0'
                      path: ''
                      name: All Files
                      workspace_id: 0
                      permissions:
                        files.update: true
                        files.create: true
                        files.download: true
                        files.delete: true
                      users:
                        - id: 15843
                          email: user@example.com
                          avatar: storage/avatars/a3454801-be04-4a71-b8ab-538ca9ed09a3.jpg
                          display_name: mikael.maansson
                          owns_entry: true
                    status: success
                    seo: null
        '401':
          $ref: '#/components/responses/401-Response'
        '403':
          $ref: '#/components/responses/403-Response'

  /uploads:
    post:
      tags:
        - Uploads
      summary: Upload a file to Drime Cloud
      operationId: upload
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: Content of file to upload to Drime Cloud
                parentId:
                  type: integer
                  nullable: true
                  description: ID of folder where this file should be uploaded, `null` will upload to root
                  example: null
                relativePath:
                  type: string
                  description: "Folders in the path provided here will be auto created, if they don't exist already. This is mainly useful when uploading a folder from browser. It should include original filename as well: <br> `/some/folders/here/file-name.jpg`"
                workspaceId:
                  type: integer
                  description: ID of workspace where file should be uploaded. Use `0` for the user's default personal workspace.
                  example: 0
      responses:
        '201':
          description: File was uploaded
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  fileEntry:
                    $ref: '#/components/schemas/FileEntry'
        '401':
          $ref: '#/components/responses/401-Response'
        '403':
          $ref: '#/components/responses/403-Response'
        '422':
          description: Invalid data specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'

  /uploads/validate:
    post:
      tags:
        - Uploads
      summary: Validate files before upload (duplicate detection)
      operationId: validateUpload
      description: |
        Check if files already exist in the specified location before uploading.
        Returns a list of duplicate filenames. This endpoint performs path-aware duplicate detection.
      parameters:
        - $ref: '#/components/parameters/WorkspaceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - files
              properties:
                files:
                  type: array
                  description: Array of files to validate. Must not be empty.
                  minItems: 1
                  items:
                    type: object
                    required:
                      - name
                      - size
                      - relativePath
                    properties:
                      name:
                        type: string
                        example: photo.jpg
                        description: Filename to check for duplicates
                      size:
                        type: integer
                        example: 1048576
                        description: File size in bytes
                      relativePath:
                        type: string
                        example: /vacation/2024
                        description: Path where file would be uploaded (used for path-aware duplicate detection)
                workspaceId:
                  type: integer
                  description: Optional workspace ID to check for duplicates within
                  example: 0
            examples:
              singleFile:
                summary: Single file validation
                value:
                  files:
                    - name: document.pdf
                      size: 2048576
                      relativePath: /documents
                  workspaceId: 0
              multipleFiles:
                summary: Multiple files validation
                value:
                  files:
                    - name: photo1.jpg
                      size: 1048576
                      relativePath: /photos
                    - name: photo2.jpg
                      size: 1248576
                      relativePath: /photos
      responses:
        '200':
          description: Validation complete
          content:
            application/json:
              schema:
                type: object
                required:
                  - errors
                  - duplicates
                  - status
                properties:
                  errors:
                    type: boolean
                    description: True if duplicates were found, false otherwise
                    example: false
                  duplicates:
                    type: array
                    description: Array of filenames that already exist at the specified path
                    items:
                      type: string
                    example: []
                  status:
                    type: string
                    example: success
              examples:
                noDuplicates:
                  summary: No duplicates found
                  value:
                    errors: false
                    duplicates: []
                    status: success
                withDuplicates:
                  summary: Duplicates found
                  value:
                    errors: true
                    duplicates:
                      - photo1.jpg
                      - document.pdf
                    status: success
        '400':
          description: Invalid request (e.g., empty files array)
          content:
            text/html:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/401-Response'

  /entry/getAvailableName:
    post:
      tags:
        - Files and Folders
      summary: Get an available alternative filename
      operationId: getAvailableName
      description: |
        When a file with the same name already exists, this endpoint suggests an alternative filename
        by appending a counter (e.g., "file.txt" becomes "file (1).txt").
        Used in conjunction with /uploads/validate to handle duplicate files.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  description: Original filename that needs an alternative
                  example: document.pdf
                parentId:
                  type: integer
                  nullable: true
                  description: ID of the parent folder where file will be uploaded
                  example: null
                workspaceId:
                  type: integer
                  description: Workspace ID for the file
                  example: 0
            examples:
              simpleFilename:
                summary: Simple filename
                value:
                  name: report.pdf
                  parentId: null
                  workspaceId: 0
              filenameWithExtension:
                summary: Filename with multiple extensions
                value:
                  name: archive.tar.gz
                  parentId: 123
      responses:
        '200':
          description: Alternative filename generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                    description: Suggested alternative filename with counter
                    example: document (1).pdf
              examples:
                firstDuplicate:
                  summary: First duplicate
                  value:
                    name: report (1).pdf
                secondDuplicate:
                  summary: Second duplicate
                  value:
                    name: report (2).pdf
        '401':
          $ref: '#/components/responses/401-Response'
        '422':
          $ref: '#/components/responses/422-Response'

  /s3/multipart/create:
    post:
      tags:
        - Multipart Uploads
      summary: Initialize a multipart upload
      description: |
        Initiates a multipart upload for files >= 5MB. Returns an uploadId and key
        that must be used for all subsequent part operations (signing, completion, abort).
        
        The multipart threshold is 5MB (5,242,880 bytes). Files smaller than this
        should use the simple upload flow via `/s3/simple/presign`.
      operationId: createMultipartUpload
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - filename
                - mime
                - size
                - extension
              properties:
                filename:
                  type: string
                  description: Original filename
                  example: Firefox 144.0.2.dmg
                mime:
                  type: string
                  description: MIME type of the file
                  example: application/x-apple-diskimage
                size:
                  type: integer
                  format: int64
                  description: File size in bytes
                  example: 142557981
                extension:
                  type: string
                  description: File extension without dot
                  example: dmg
                relativePath:
                  type: string
                  description: Folder path for auto-creation (alternative to parentId in /s3/entries)
                  example: Downloads/Apps
                workspaceId:
                  type: integer
                  description: Workspace ID. Use `0` for default personal workspace.
                  example: 0
                parentId:
                  type: integer
                  format: int64
                  nullable: true
                  description: Parent folder ID (optional)
                  example: null
            examples:
              largePdf:
                summary: Large PDF file (6.6MB)
                value:
                  filename: 6089912.pdf
                  mime: application/pdf
                  size: 6648672
                  extension: pdf
                  relativePath: ""
                  workspaceId: 0
                  parentId: null
              veryLargeDmg:
                summary: Very large DMG file (136MB)
                value:
                  filename: Firefox 144.0.2.dmg
                  mime: application/x-apple-diskimage
                  size: 142557981
                  extension: dmg
                  relativePath: ""
                  workspaceId: 0
                  parentId: null
      responses:
        '200':
          description: Multipart upload initialized
          content:
            application/json:
              schema:
                type: object
                properties:
                  key:
                    type: string
                    description: S3 key for the upload (format uploads/{uuid}/{uuid})
                    example: uploads/1e4cbca8-165f-4780-9cb7-fc4d8f2e4834/1e4cbca8-165f-4780-9cb7-fc4d8f2e4834
                  uploadId:
                    type: string
                    description: Multipart upload ID from S3
                    example: AFNhWKh6Cn6fOryIGSCF4GFVTXB1CnOpdipc0ZHJIHwk9YBgHjLXwXhQkzQ4LmXVkW46cl1ICuQFI4KPBWXt-i3vnDgahMj6Uw...
                  acl:
                    type: string
                    description: Access control setting
                    example: private
                  status:
                    type: string
                    example: success
              examples:
                success:
                  value:
                    key: uploads/1e4cbca8-165f-4780-9cb7-fc4d8f2e4834/1e4cbca8-165f-4780-9cb7-fc4d8f2e4834
                    uploadId: AFNhWKh6Cn6fOryIGSCF4GFVTXB1CnOpdipc0ZHJIHwk9YBgHjLXwXhQkzQ4LmXVkW46cl1ICuQFI4KPBWXt
                    acl: private
                    status: success
        '401':
          $ref: '#/components/responses/401-Response'
        '422':
          $ref: '#/components/responses/422-Response'

  /s3/multipart/batch-sign-part-urls:
    post:
      tags:
        - Multipart Uploads
      summary: Get signed URLs for uploading parts
      description: |
        Gets presigned URLs for uploading one or more parts. Each part should be
        ~5MB (5,242,880 bytes) except for the last part which may be smaller.
        
        The web client typically signs one part at a time due to Uppy's streaming
        approach, but batch signing multiple parts is supported for efficiency.
        Parts can be uploaded concurrently (recommended limit: 8 concurrent uploads).
      operationId: batchSignPartUrls
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - key
                - uploadId
                - partNumbers
              properties:
                key:
                  type: string
                  example: uploads/3b58695f-0e8c-4837-ba9d-2d4e788bdfa3/3b58695f-0e8c-4837-ba9d-2d4e788bdfa3
                uploadId:
                  type: string
                  example: APnnpfq9d135O1eEBS0Pt5YEjKplSH73gdp0I5mdhoByhOrLNnSPvORdRwBOypg0mPrdsQHYyp8hDKV8XVurH-Gw5FwGse9g0hkAi4raq3h30F256geoQkNpGw1AKCcanIdQcz7GLbtJYxHrEWkq2-RIr41ZhgesPf2GzA2pr4lTphxNzY3BmJcB0UwiGNH66bIVdxylL64Ho5uCdbNuvaRUdHW_Fi54SpkOZLlXkE9Y1yicsRB6klbKea5tXjk4QD_K64Jptv0W7geN9d4LQ-EE-1SP7KN2YT9kK1tuISfB_QNhLGWh5BkKjFznbJlXVXL05GdLfdKcm0A5bopQ2vw
                partNumbers:
                  type: array
                  items:
                    type: integer
                  example: [1]
      responses:
        '200':
          description: Signed URLs generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  urls:
                    type: array
                    items:
                      type: object
                      properties:
                        partNumber:
                          type: integer
                          example: 1
                        url:
                          type: string
                          example: https://drimestorage.18b804eaa6bc9759e2278f8d5367f42f.r2.cloudflarestorage.com/uploads/3b58695f...
                  status:
                    type: string
                    example: success
        '401':
          $ref: '#/components/responses/401-Response'
        '422':
          $ref: '#/components/responses/422-Response'

  /s3/multipart/complete:
    post:
      tags:
        - Multipart Uploads
      summary: Complete a multipart upload
      operationId: completeMultipartUpload
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - key
                - uploadId
                - parts
              properties:
                key:
                  type: string
                  description: The S3 key returned from createMultipartUpload
                  example: uploads/1e4cbca8-165f-4780-9cb7-fc4d8f2e4834/1e4cbca8-165f-4780-9cb7-fc4d8f2e4834
                uploadId:
                  type: string
                  description: The uploadId returned from createMultipartUpload
                  example: AFNhWKh6Cn6fOryIGSCF4GFVTXB1CnOpdipc0ZHJIHwk9YBgHjLX...
                parts:
                  type: array
                  description: Array of uploaded parts with their ETags. ETags must include the surrounding quotes.
                  items:
                    type: object
                    required:
                      - PartNumber
                      - ETag
                    properties:
                      PartNumber:
                        type: integer
                        description: Part number (1-indexed)
                        example: 1
                      ETag:
                        type: string
                        description: ETag returned from S3 when uploading the part (must include quotes)
                        example: '"22b1d5721320f9da081e4987f0e0ce65"'
            examples:
              twoParts:
                summary: 2-part upload (6.6MB file)
                value:
                  key: uploads/1e4cbca8-165f-4780-9cb7-fc4d8f2e4834/1e4cbca8-165f-4780-9cb7-fc4d8f2e4834
                  uploadId: AFNhWKh6Cn6fOryIGSCF4GFVTXB1CnOpdipc0ZHJIHwk9YBgHjLX...
                  parts:
                    - PartNumber: 1
                      ETag: '"22b1d5721320f9da081e4987f0e0ce65"'
                    - PartNumber: 2
                      ETag: '"479df46a73824ca1a5e44efe64d3dbb7"'
              manyParts:
                summary: 28-part upload (136MB file)
                value:
                  key: uploads/8af5199e-ce34-4e93-a42f-2ed78d0a7021/8af5199e-ce34-4e93-a42f-2ed78d0a7021
                  uploadId: ACfP7_TjuvxJdPHJK6QAFSOnDh2cm3kad9Ph0jB3iQeX...
                  parts:
                    - PartNumber: 1
                      ETag: '"b73c15c8b1d130ab008a11affc4a64b6"'
                    - PartNumber: 2
                      ETag: '"879f9ee066a561337fb5c2aed8f3a5c8"'
                    - PartNumber: 28
                      ETag: '"fb3082539c23a706b9b7f369d21e97a8"'
      responses:
        '200':
          description: Multipart upload completed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  location:
                    type: string
                    description: Final S3 location of the assembled file
                    example: https://18b804eaa6bc9759e2278f8d5367f42f.r2.cloudflarestorage.com/drimestorage/uploads%2F1e4cbca8-165f-4780-9cb7-fc4d8f2e4834%2F1e4cbca8-165f-4780-9cb7-fc4d8f2e4834
                  status:
                    type: string
                    example: success
              examples:
                success:
                  value:
                    location: https://18b804eaa6bc9759e2278f8d5367f42f.r2.cloudflarestorage.com/drimestorage/uploads%2F1e4cbca8-165f-4780-9cb7-fc4d8f2e4834%2F1e4cbca8-165f-4780-9cb7-fc4d8f2e4834
                    status: success
        '401':
          $ref: '#/components/responses/401-Response'
        '422':
          $ref: '#/components/responses/422-Response'

  /s3/multipart/abort:
    post:
      tags:
        - Multipart Uploads
      summary: Abort a multipart upload
      description: |
        Cancels an in-progress multipart upload and cleans up any uploaded parts from S3/R2 storage.
        Use this when an upload fails or is cancelled by the user.
      operationId: abortMultipartUpload
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - key
                - uploadId
              properties:
                key:
                  type: string
                  description: The S3 key returned from createMultipartUpload
                  example: uploads/1e4cbca8-165f-4780-9cb7-fc4d8f2e4834/1e4cbca8-165f-4780-9cb7-fc4d8f2e4834
                uploadId:
                  type: string
                  description: The uploadId returned from createMultipartUpload
                  example: AFNhWKh6Cn6fOryIGSCF4GFVTXB1CnOpdipc0ZHJIHwk9YBgHjLX...
      responses:
        '200':
          description: Multipart upload aborted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
        '401':
          $ref: '#/components/responses/401-Response'

  /s3/multipart/get-uploaded-parts:
    post:
      tags:
        - Multipart Uploads
      summary: List already uploaded parts
      description: |
        Lists parts that have already been uploaded for a multipart upload.
        Used to resume interrupted uploads - the client can skip re-uploading
        parts that were successfully uploaded before the interruption.
      operationId: getUploadedParts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - key
                - uploadId
              properties:
                key:
                  type: string
                  description: The S3 key returned from createMultipartUpload
                  example: uploads/1e4cbca8-165f-4780-9cb7-fc4d8f2e4834/1e4cbca8-165f-4780-9cb7-fc4d8f2e4834
                uploadId:
                  type: string
                  description: The uploadId returned from createMultipartUpload
                  example: AFNhWKh6Cn6fOryIGSCF4GFVTXB1CnOpdipc0ZHJIHwk9YBgHjLX...
            examples:
              default:
                value:
                  key: uploads/1e4cbca8-165f-4780-9cb7-fc4d8f2e4834/1e4cbca8-165f-4780-9cb7-fc4d8f2e4834
                  uploadId: AFNhWKh6Cn6fOryIGSCF4GFVTXB1CnOpdipc0ZHJIHwk9YBgHjLXwXhQkzQ4LmXVkW46cl1ICuQFI4KPBWXt
      responses:
        '200':
          description: List of uploaded parts
          content:
            application/json:
              schema:
                type: object
                properties:
                  parts:
                    type: array
                    description: Array of already-uploaded parts
                    items:
                      type: object
                      properties:
                        PartNumber:
                          type: integer
                          description: Part number (1-indexed)
                          example: 1
                        ETag:
                          type: string
                          description: ETag of the uploaded part (MD5 hash with quotes)
                          example: '"22b1d5721320f9da081e4987f0e0ce65"'
                        Size:
                          type: integer
                          format: int64
                          description: Size of the uploaded part in bytes
                          example: 5242880
                  status:
                    type: string
                    example: success
              examples:
                twoPartsUploaded:
                  summary: Two parts already uploaded
                  value:
                    parts:
                      - PartNumber: 1
                        ETag: '"22b1d5721320f9da081e4987f0e0ce65"'
                        Size: 5242880
                      - PartNumber: 2
                        ETag: '"479df46a73824ca1a5e44efe64d3dbb7"'
                        Size: 1405792
                    status: success
                noParts:
                  summary: No parts uploaded yet
                  value:
                    parts: []
                    status: success
        '401':
          $ref: '#/components/responses/401-Response'
        '404':
          description: Upload not found (may have been aborted or completed)

  /s3/simple/presign:
    post:
      tags:
        - Uploads
      summary: Get a presigned URL for simple S3 upload
      description: |
        Gets a presigned URL for uploading files smaller than 5MB using a single PUT request.
        The presigned URL is valid for 3600 seconds (1 hour).
        
        After uploading to the presigned URL, call `/s3/entries` to create the file entry
        in the Drime database.
        
        For files >= 5MB, use the multipart upload flow starting with `/s3/multipart/create`.
      operationId: getPresignedUrl
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - filename
                - mime
                - size
                - extension
              properties:
                filename:
                  type: string
                  description: Original filename
                  example: document.pdf
                mime:
                  type: string
                  description: MIME type of the file
                  example: application/pdf
                size:
                  type: integer
                  format: int64
                  description: File size in bytes (should be < 5MB for simple upload)
                  example: 87965
                extension:
                  type: string
                  description: File extension without dot
                  example: pdf
                relativePath:
                  type: string
                  description: |
                    Folder path for the file. Used in /s3/entries to auto-create folders.
                    Format: "folder/subfolder/filename.ext" or empty string for root.
                  example: ""
                workspaceId:
                  type: integer
                  description: Workspace ID. Use `0` for default personal workspace.
                  example: 0
                parentId:
                  type: integer
                  format: int64
                  nullable: true
                  description: Optional parent folder ID
                  example: null
            examples:
              smallPdf:
                summary: Small PDF to root folder
                value:
                  filename: Tipsruta till Tomtepromenaden 2025.pdf
                  mime: application/pdf
                  size: 87965
                  extension: pdf
                  relativePath: ""
                  workspaceId: 0
                  parentId: null
              folderUpload:
                summary: Image in folder
                value:
                  filename: IMG_5027.jpeg
                  mime: image/jpeg
                  size: 4112271
                  extension: jpeg
                  relativePath: UploadFromMobile/IMG_5027.jpeg
                  workspaceId: 0
                  parentId: null
      responses:
        '200':
          description: Presigned URL generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    description: S3/R2 presigned URL for PUT upload
                    example: https://drimestorage.18b804eaa6bc9759e2278f8d5367f42f.r2.cloudflarestorage.com/uploads/71ea55f2-1ba7-46ad-98b7-db487ecac2f6/71ea55f2-1ba7-46ad-98b7-db487ecac2f6?x-amz-acl=private&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Algorithm=AWS4-HMAC-SHA256&...
                  key:
                    type: string
                    description: S3 key (format uploads/{uuid}/{uuid})
                    example: uploads/71ea55f2-1ba7-46ad-98b7-db487ecac2f6/71ea55f2-1ba7-46ad-98b7-db487ecac2f6
                  acl:
                    type: string
                    description: Access control setting
                    example: private
                  status:
                    type: string
                    example: success
              examples:
                smallPdf:
                  summary: Small PDF file
                  value:
                    url: https://drimestorage.18b804eaa6bc9759e2278f8d5367f42f.r2.cloudflarestorage.com/uploads/71ea55f2-1ba7-46ad-98b7-db487ecac2f6/71ea55f2-1ba7-46ad-98b7-db487ecac2f6?x-amz-acl=private&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&...
                    key: uploads/71ea55f2-1ba7-46ad-98b7-db487ecac2f6/71ea55f2-1ba7-46ad-98b7-db487ecac2f6
                    acl: private
                    status: success
        '401':
          $ref: '#/components/responses/401-Response'
        '422':
          $ref: '#/components/responses/422-Response'

  /s3/entries:
    post:
      tags:
        - Uploads
      summary: Create file entry after S3 upload
      description: |
        Creates a file entry in the Drime database after successfully uploading
        the file to S3/R2. This is the final step in both simple and multipart
        upload flows.
        
        The `filename` parameter should be the UUID portion of the S3 key (without
        the `uploads/` prefix and folder structure).
        
        If `relativePath` is provided, the file will be placed in the specified
        folder path, creating any missing folders automatically.
      operationId: createS3Entry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - filename
                - size
                - clientName
              properties:
                filename:
                  type: string
                  description: The UUID filename from the S3 key (last segment of key path)
                  example: 71ea55f2-1ba7-46ad-98b7-db487ecac2f6
                size:
                  type: integer
                  format: int64
                  description: File size in bytes
                  example: 87965
                clientName:
                  type: string
                  description: Original filename to display to users
                  example: document.pdf
                clientMime:
                  type: string
                  description: MIME type of the file
                  example: application/pdf
                clientExtension:
                  type: string
                  description: File extension without dot
                  example: pdf
                parentId:
                  type: integer
                  format: int64
                  nullable: true
                  description: Parent folder ID. Use null for root folder.
                  example: null
                relativePath:
                  type: string
                  description: |
                    Folder path for the file. If provided, folders will be auto-created
                    and parentId is ignored. Format: "folder/subfolder/filename.ext"
                  example: UploadFromMobile/IMG_5027.jpeg
                workspaceId:
                  type: integer
                  description: Workspace ID. Use `0` for default personal workspace.
                  example: 0
            examples:
              simpleUpload:
                summary: Simple upload to root folder
                value:
                  workspaceId: 0
                  parentId: null
                  clientMime: application/pdf
                  clientName: Tipsruta till Tomtepromenaden 2025.pdf
                  filename: 71ea55f2-1ba7-46ad-98b7-db487ecac2f6
                  size: 87965
                  clientExtension: pdf
                  relativePath: ""
              multipartUpload:
                summary: Multipart upload result
                value:
                  workspaceId: 0
                  parentId: null
                  clientMime: application/pdf
                  clientName: 6089912.pdf
                  filename: 1e4cbca8-165f-4780-9cb7-fc4d8f2e4834
                  size: 6648672
                  clientExtension: pdf
                  relativePath: ""
              folderUpload:
                summary: File in folder (auto-creates folder)
                value:
                  workspaceId: 0
                  parentId: null
                  clientMime: image/jpeg
                  clientName: IMG_5027.jpeg
                  filename: 977a9bec-1803-4b77-850d-0a0af866974f
                  size: 4112271
                  clientExtension: jpeg
                  relativePath: UploadFromMobile/IMG_5027.jpeg
      responses:
        '200':
          description: File entry created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  fileEntry:
                    $ref: '#/components/schemas/FileEntry'
              examples:
                simpleUpload:
                  summary: Simple upload result
                  value:
                    fileEntry:
                      name: Tipsruta till Tomtepromenaden 2025.pdf
                      file_name: 71ea55f2-1ba7-46ad-98b7-db487ecac2f6
                      mime: application/pdf
                      backup: false
                      file_size: 87965
                      parent_id: null
                      disk_prefix: 71ea55f2-1ba7-46ad-98b7-db487ecac2f6
                      type: pdf
                      extension: pdf
                      public: false
                      workspace_id: 0
                      owner_id: 15843
                      is_encrypted: 0
                      vault_id: null
                      iv: null
                      file_hash: null
                      updated_at: "2025-12-22T13:45:07.000000Z"
                      created_at: "2025-12-22T13:45:07.000000Z"
                      id: 488163222
                      path: "488163222"
                      hash: NDg4MTYzMjIyfA
                      url: api/v1/file-entries/488163222
                      parent: null
                      users:
                        - email: user@example.com
                          id: 15843
                          model_type: user
                          owns_entry: true
                          entry_permissions: []
                          display_name: user
                    status: success
                folderUpload:
                  summary: File placed in auto-created folder
                  value:
                    fileEntry:
                      name: IMG_5027.jpeg
                      file_name: 977a9bec-1803-4b77-850d-0a0af866974f
                      mime: image/jpeg
                      file_size: 4112271
                      parent_id: 488163414
                      id: 488163423
                      path: "488163414/488163423"
                      hash: NDg4MTYzNDIzfA
                      parent:
                        id: 488163414
                        name: UploadFromMobile
                        type: folder
                    status: success
        '401':
          $ref: '#/components/responses/401-Response'
        '422':
          $ref: '#/components/responses/422-Response'

  /drive/file-entries:
    get:
      tags:
        - Files and Folders
      summary: Get file entries
      description: Get the list of all file entries you have access to
      operationId: indexEntry
      parameters:
        - name: perPage
          in: query
          description: How many entries to return per page
          schema:
            type: 'integer'
            format: 'int64'
            default: 50
        - name: deletedOnly
          in: query
          description: Whether only trashed entries should be returned
          schema:
            type: 'boolean'
        - name: starredOnly
          in: query
          description: Whether only starred entries should be returned
          schema:
            type: 'boolean'
        - name: recentOnly
          in: query
          description: Whether only recent entries should be returned
          schema:
            type: 'boolean'
        - name: sharedOnly
          in: query
          description: Whether only entries that have been shared with you should be returned
          schema:
            type: 'boolean'
        - name: backup
          in: query
          description: Filter by backup status. Use `0` for non-backup files, `1` for backup files.
          schema:
            type: integer
            enum:
              - 0
              - 1
            default: 0
        - name: query
          in: query
          description: Search query entry names should be filtered on
          schema:
            type: 'string'
        - name: type
          in: query
          description: File type entries should be filtered on
          schema:
            type: 'string'
            enum:
              - 'folder'
              - 'image'
              - 'text'
              - 'audio'
              - 'video'
              - 'pdf'
        - name: parentIds
          in: query
          description: Only entries that are children of specified folders will be returned
          explode: false
          schema:
            type: array
            items:
              type: integer
              format: int64
        - name: workspaceId
          in: query
          description: Only return entries in specified workspace. Use `0` for the user's default personal workspace.
          schema:
            type: integer
            default: 0
        - name: pageId
          in: query
          description: Used by the web client to scope listings. For search results the web client uses `pageId=search`.
          schema:
            type: string
        - name: folderId
          in: query
          description: Alias for pageId - display files in specified folder hash
          schema:
            type: string
        - name: page
          in: query
          description: Page number for pagination (1-indexed)
          schema:
            type: integer
            default: 1
        - name: orderBy
          in: query
          description: Field to sort results by
          schema:
            type: string
            enum:
              - updated_at
              - created_at
              - name
              - file_size
            default: updated_at
        - name: orderDir
          in: query
          description: Sort direction
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/FileEntry'
                  folder:
                    type: object
                    nullable: true
                    description: The current folder info, null if listing root
                  current_page:
                    type: integer
                  last_page:
                    type: integer
                  per_page:
                    type: integer
                  total:
                    type: integer
                  from:
                    type: integer
                  to:
                    type: integer
              examples:
                rootListing:
                  summary: List files in root folder
                  value:
                    data:
                      - id: 485529677
                        name: 'My Documents'
                        type: 'folder'
                        hash: 'NDg1NTI5Njc3fA'
                        file_size: 0
                        parent_id: null
                        created_at: '2024-01-15T10:30:00.000000Z'
                        updated_at: '2024-01-15T10:30:00.000000Z'
                      - id: 485529678
                        name: 'photo.jpg'
                        type: 'image'
                        hash: 'NDg1NTI5Njc4fA'
                        file_size: 2048576
                        parent_id: null
                        mime: 'image/jpeg'
                        created_at: '2024-01-14T08:20:00.000000Z'
                        updated_at: '2024-01-14T08:20:00.000000Z'
                    folder: null
                    current_page: 1
                    last_page: 1
                    per_page: 50
                    total: 2
                    from: 1
                    to: 2
        '401':
          $ref: '#/components/responses/401-Response'
        '403':
          $ref: '#/components/responses/403-Response'
  /file-entries/delete:
    post:
      tags:
        - Files and Folders
      summary: Delete entries (move to trash or delete permanently)
      operationId: deleteEntries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - entryIds
              properties:
                entryIds:
                  description: List of entry IDs to delete. Can be empty when using emptyTrash.
                  type: array
                  items:
                    oneOf:
                      - type: string
                      - type: integer
                deleteForever:
                  description: Whether entries should be deleted permanently, instead of being moved to trash
                  type: boolean
                  example: false
                emptyTrash:
                  description: When true with empty entryIds array, permanently deletes all items in trash
                  type: boolean
                  example: false
            examples:
              moveToTrash:
                summary: Move entries to trash
                value:
                  entryIds: [123, 456]
                  deleteForever: false
              deletePermanently:
                summary: Delete entries permanently
                value:
                  entryIds: [123, 456]
                  deleteForever: true
              emptyTrash:
                summary: Empty entire trash
                value:
                  entryIds: []
                  emptyTrash: true
      responses:
        '200':
          description: Entries deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
        '401':
          $ref: '#/components/responses/401-Response'
        '403':
          $ref: '#/components/responses/403-Response'
        '422':
          description: Invalid data specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'

  /file-entry-tags:
    get:
      tags:
        - Files and Folders
      summary: Search or get file entry tags
      operationId: getFileEntryTags
      description: |
        Get tags that can be applied to file entries, optionally filtered by a search query.
        Used for autocomplete and tag search functionality.
      parameters:
        - name: query
          in: query
          schema:
            type: string
          description: Search query to filter tags
          example: ''
      responses:
        '200':
          description: Successfully retrieved tags
          content:
            application/json:
              schema:
                type: object
                properties:
                  tags:
                    type: array
                    items:
                      $ref: '#/components/schemas/Tag'
        '401':
          $ref: '#/components/responses/401-Response'

  /file-backup:
    get:
      tags:
        - Files and Folders
      summary: Get file backup history
      operationId: getFileBackupHistory
      description: |
        Returns backup/version history for a given file.
        Web clients call this to show previous versions (may be empty).
      parameters:
        - $ref: '#/components/parameters/XSRFToken'
        - name: file_id
          in: query
          required: true
          schema:
            type: integer
            format: int64
          description: File entry ID.
          example: 487159252
        - name: userId
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: User ID (sometimes provided by web clients).
          example: 15843
        - name: perPage
          in: query
          required: false
          schema:
            type: integer
            example: 15
          description: Page size.
        - name: workspaceId
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: Workspace ID. Use `0` for the user's default personal workspace.
          example: 1874
      responses:
        '200':
          description: Successfully retrieved backup history
          content:
            application/json:
              schema:
                type: object
                properties:
                  pagination:
                    type: object
                    properties:
                      current_page:
                        type: integer
                      data:
                        type: array
                        items:
                          type: object
                      from:
                        type: integer
                        nullable: true
                      last_page:
                        type: integer
                      next_page:
                        type: integer
                        nullable: true
                      per_page:
                        type: integer
                      prev_page:
                        type: integer
                        nullable: true
                      to:
                        type: integer
                        nullable: true
                      total:
                        type: integer
                  status:
                    type: string
                    example: success
                  seo:
                    type: object
                    nullable: true
              examples:
                empty:
                  summary: No backups available
                  value:
                    pagination:
                      current_page: 1
                      data: []
                      from: null
                      last_page: 1
                      next_page: null
                      per_page: 15
                      prev_page: null
                      to: null
                      total: 0
                    status: success
                    seo: null
        '401':
          $ref: '#/components/responses/401-Response'

  /entry/convert:
    post:
      tags:
        - Files and Folders
      summary: Convert a file by URL
      operationId: convertEntry
      description: |
        Requests a server-side conversion of an existing file accessible by URL.
        The web client uses this to convert formats (example: JPEG to PNG).
      parameters:
        - $ref: '#/components/parameters/XSRFToken'
        - name: workspaceId
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: Workspace ID.
          example: 1874
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - url
                - filename
                - outputformat
              properties:
                url:
                  type: string
                  description: Source URL of the file to convert.
                filename:
                  type: string
                outputformat:
                  type: string
                  description: Desired output format.
                  example: png
            examples:
              example:
                value:
                  url: https://drimestorage.example.r2.cloudflarestorage.com/uploads/<uuid>/<uuid>
                  filename: IMG_5027.jpeg
                  outputformat: png
      responses:
        '200':
          description: Conversion accepted or completed
          content:
            application/json:
              schema:
                type: object
                description: Response body was not captured in the provided HAR (may be large). Shape is best-effort.
        '401':
          $ref: '#/components/responses/401-Response'
        '422':
          $ref: '#/components/responses/422-Response'

  /file-entries:
    delete:
      tags:
        - Files and Folders
      summary: Move entries to trash or delete permanently (deprecated - use POST /file-entries/delete)
      operationId: entriesDelete
      deprecated: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                entryIds:
                  description: list of entry IDs to delete
                  type: array
                  items:
                    type: string
                deleteForever:
                  description: Whether entries should be deleted permantently, instead of being moved to trash
                  type: boolean
                  example: false
      responses:
        '200':
          description: Entries deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
        '401':
          $ref: '#/components/responses/401-Response'
        '403':
          $ref: '#/components/responses/403-Response'
        '422':
          description: Invalid data specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'

  /file-entries/download/{hash}:
    get:
      tags:
        - Files and Folders
      summary: Download a file or folder by hash
      operationId: downloadFileByHash
      parameters:
        - name: hash
          in: path
          required: true
          schema:
            type: string
          description: Hash of the file entry to download
          example: MzI2MHxwYWRkaQ
      responses:
        '200':
          description: File downloaded successfully
          headers:
            Content-Disposition:
              schema:
                type: string
              description: Contains the filename
              example: attachment; filename="image.png"
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
            application/zip:
              schema:
                type: string
                format: binary
                description: Returned for folder downloads (auto-zipped)
        '401':
          $ref: '#/components/responses/401-Response'
        '403':
          $ref: '#/components/responses/403-Response'
        '404':
          description: File entry not found

  /file-entries/{entryId}:
    get:
      tags:
        - Files and Folders
      summary: Get a single file entry by ID
      operationId: getEntry
      parameters:
        - in: path
          name: entryId
          schema:
            type: integer
            format: int64
          required: true
          description: Numeric ID of the file entry
        - $ref: '#/components/parameters/WorkspaceId'
        - name: thumbnail
          in: query
          required: false
          schema:
            type: boolean
          description: When true, include thumbnail information if available.
      responses:
        '200':
          description: File entry retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  fileEntry:
                    $ref: '#/components/schemas/FileEntry'
        '401':
          $ref: '#/components/responses/401-Response'
        '403':
          $ref: '#/components/responses/403-Response'
        '404':
          description: File entry not found
    put:
      tags:
        - Files and Folders
      summary: Update an existing file entry
      parameters:
        - in: path
          name: entryId
          schema:
            type: integer
            format: int64
          required: true
        - $ref: '#/components/parameters/WorkspaceId'
      operationId: entryUpdate
      responses:
        '200':
          description: Entry updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  fileEntry:
                    $ref: '#/components/schemas/FileEntry'
        '401':
          $ref: '#/components/responses/401-Response'
        '403':
          $ref: '#/components/responses/403-Response'
        '422':
          description: Invalid data specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: 'New name for the entry'
                description:
                  type: string
                  example: 'New description for the entry'

  /folders:
    post:
      tags:
        - Files and Folders
      summary: Create a new folder
      operationId: createFolder
      parameters:
        - $ref: '#/components/parameters/WorkspaceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: 'new folder name'
                parentId:
                  type: integer
                  nullable: true
                  description: 'ID of parent folder or null if it should be created at root'
                  example: null
            examples:
              createInWorkspace:
                summary: Create folder in workspace (workspaceId in query)
                description: |-
                  The web client supplies the workspace context via the `workspaceId` query parameter.
                  Example request: `POST /folders?workspaceId=1874`.
                value:
                  name: New Folder
                  parentId: null
      responses:
        '200':
          description: Folder created
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  folder:
                    $ref: '#/components/schemas/FileEntry'
        '401':
          $ref: '#/components/responses/401-Response'
        '403':
          $ref: '#/components/responses/403-Response'
        '422':
          description: Invalid data specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /file-entries/move:
    post:
      tags:
        - Files and Folders
      summary: Movie specified entries to a different folder
      operationId: entriesMove
      parameters:
        - $ref: '#/components/parameters/WorkspaceId'
      responses:
        '200':
          description: File entries moved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  entries:
                    type: array
                    items:
                      $ref: '#/components/schemas/FileEntry'
        '401':
          $ref: '#/components/responses/401-Response'
        '403':
          $ref: '#/components/responses/403-Response'
        '422':
          description: Invalid data specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - entryIds
              properties:
                entryIds:
                  description: List of entry ids
                  type: array
                  items:
                    type: integer
                    format: int64
                destinationId:
                  type: integer
                  nullable: true
                  format: int64
                  description: ID of folder specified entries should be moved to
                  example: null
                workspaceId:
                  type: integer
                  format: int64
                  nullable: true
                  description: Optional workspace context (web client may send this in addition to query parameter).
                  example: 1873
            examples:
              moveInWorkspace:
                summary: Move within workspace (workspaceId in query and body)
                description: |-
                  HAR example request: `POST /file-entries/move?workspaceId=1873`.
                value:
                  destinationId: null
                  entryIds: [487426818]
                  workspaceId: 1873
  /file-entries/duplicate:
    post:
      tags:
        - Files and Folders
      summary: Duplicate specified entries
      operationId: entriesCopy
      parameters:
        - $ref: '#/components/parameters/WorkspaceId'
      responses:
        '200':
          description: File entries duplicated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  entries:
                    type: array
                    items:
                      $ref: '#/components/schemas/FileEntry'
        '401':
          $ref: '#/components/responses/401-Response'
        '403':
          $ref: '#/components/responses/403-Response'
        '422':
          description: Invalid data specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - entryIds
              properties:
                entryIds:
                  description: List of entry ids
                  type: array
                  items:
                    type: integer
                    format: int64
                destinationId:
                  type: integer
                  nullable: true
                  format: int64
                  description: ID of folder specified entries should be moved to
                  example: null
                workspaceId:
                  type: integer
                  format: int64
                  nullable: true
                  description: Optional workspace context.
                  example: 1874
            examples:
              duplicateDefault:
                summary: Duplicate in default workspace
                value:
                  entryIds: [486936948]
  /file-entries/restore:
    post:
      tags:
        - Files and Folders
      summary: Restore file entries from trash to original folder
      operationId: entriesRestore
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - entryIds
              properties:
                entryIds:
                  description: List of entry IDs
                  type: array
                  items:
                    type: integer
                    format: 'int32'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
        '401':
          $ref: '#/components/responses/401-Response'
        '403':
          $ref: '#/components/responses/403-Response'
        '422':
          description: Invalid data specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'

  /file-entries/{entryId}/extract:
    post:
      tags:
        - Files and Folders
      summary: Extract a ZIP archive
      operationId: extractArchive
      description: |
        Extracts the contents of a ZIP archive to the specified parent folder.
        The archive must be a valid ZIP file. If a password is provided, it will be used to decrypt password-protected archives.
      parameters:
        - in: path
          name: entryId
          schema:
            type: integer
          required: true
          description: ID of the ZIP file entry to extract
        - $ref: '#/components/parameters/WorkspaceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - parentId
              properties:
                parentId:
                  type: integer
                  description: ID of the folder where extracted files should be placed. The web client uses `0` for root.
                  example: 486487814
                password:
                  type: string
                  nullable: true
                  description: Password for encrypted ZIP archives. Pass null for unencrypted archives.
                  example: null
            examples:
              extractToFolder:
                summary: Extract to specific folder
                value:
                  parentId: 486487814
                  password: null
              extractEncrypted:
                summary: Extract password-protected archive
                value:
                  parentId: 486487814
                  password: 'secretpassword'
      responses:
        '200':
          description: Archive extracted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Archive extracted successfully.
                  status:
                    type: string
                    example: success
        '401':
          $ref: '#/components/responses/401-Response'
        '403':
          $ref: '#/components/responses/403-Response'
        '422':
          description: Invalid archive or extraction failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'

  /file-entries/{entryId}/share:
    post:
      tags:
        - Sharing
      summary: Share file or folder with specified users
      operationId: shareEntry
      parameters:
        - in: path
          name: entryId
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                emails:
                  type: array
                  items:
                    type: string
                    example: example@gmail.com
                permissions:
                  type: array
                  items:
                    type: string
                    example: edit
                    enum:
                      - view
                      - edit
                      - download
      responses:
        '200':
          description: Shared file entry successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/401-Response'
        '403':
          $ref: '#/components/responses/403-Response'
        '422':
          description: Invalid data specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /file-entries/{entryId}/change-permissions:
    put:
      tags:
        - Sharing
      summary: Change permissions user has for shared entries
      operationId: changePermissions
      parameters:
        - in: path
          name: entryId
          schema:
            type: integer
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: integer
                permissions:
                  type: array
                  items:
                    type: string
                    example: edit
                    enum:
                      - view
                      - edit
                      - download
      responses:
        '200':
          description: Changed permissions successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/401-Response'
        '403':
          $ref: '#/components/responses/403-Response'
        '422':
          description: Invalid data specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /file-entries/{entryId}/unshare:
    delete:
      tags:
        - Sharing
      summary: Unshare file or folder with specified user
      operationId: unshareEntry
      parameters:
        - in: path
          name: entryId
          schema:
            type: integer
            example: 1
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: integer
      responses:
        '200':
          description: Unshared file entry successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/401-Response'
        '403':
          $ref: '#/components/responses/403-Response'
        '422':
          description: Invalid data specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'

  /file-entries/star:
    post:
      tags:
        - Starring
      summary: Mark specified entries as starred
      operationId: starEntries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                entryIds:
                  type: array
                  items:
                    type: integer
      responses:
        '200':
          description: Marked as starred successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  tag:
                    $ref: '#/components/schemas/Tag'
        '401':
          $ref: '#/components/responses/401-Response'
        '403':
          $ref: '#/components/responses/403-Response'
        '422':
          description: Invalid data specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /file-entries/unstar:
    post:
      tags:
        - Starring
      summary: Unmark specified entries as starred
      operationId: unstarEntries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                entryIds:
                  type: array
                  items:
                    type: integer
      responses:
        '200':
          description: Unmarked as starred successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  tag:
                    $ref: '#/components/schemas/Tag'
        '401':
          $ref: '#/components/responses/401-Response'
        '403':
          $ref: '#/components/responses/403-Response'
        '422':
          description: Invalid data specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'

  /file-entries/{entryId}/shareable-link:
    get:
      tags:
        - Shareable Links
      summary: Retrieve shareable link for specified entry
      operationId: getShareableLink
      parameters:
        - name: entryId
          in: path
          description: ID or hash of entry for which to get shareable link
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shareable-Link-Response'
        '401':
          $ref: '#/components/responses/401-Response'
        '403':
          $ref: '#/components/responses/403-Response'
        '404':
          description: File entry or shareable link not found
    post:
      tags:
        - Shareable Links
      summary: Create new shareable link for specified entry
      operationId: createShareableLink
      parameters:
        - name: entryId
          in: path
          description: ID or hash of entry for which to get shareable link
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                password:
                  type: string
                  example: 'new password'
                expires_at:
                  type: string
                  description: '2021-03-06T17:34:00.000000Z'
                allow_edit:
                  type: boolean
                  example: false
                allow_download:
                  type: boolean
                  example: false
      responses:
        '200':
          description: Shareable link created
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  link:
                    $ref: '#/components/schemas/ShareableLink'
        '401':
          $ref: '#/components/responses/401-Response'
        '403':
          $ref: '#/components/responses/403-Response'
        '422':
          description: Invalid data specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
    put:
      tags:
        - Shareable Links
      summary: Update shareable link details
      operationId: updateShareableLink
      parameters:
        - name: entryId
          in: path
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                password:
                  type: string
                  example: 'new password'
                expiresAt:
                  type: string
                  description: '2021-03-06T17:34:00.000000Z'
                allowEdit:
                  type: boolean
                  example: false
                allowDownload:
                  type: boolean
                  example: false
      responses:
        '200':
          description: Shareable link updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  link:
                    $ref: '#/components/schemas/ShareableLink'
        '401':
          $ref: '#/components/responses/401-Response'
        '403':
          $ref: '#/components/responses/403-Response'
        '404':
          description: Shareable link not found
        '422':
          description: Invalid data specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'

    delete:
      tags:
        - Shareable Links
      summary: Delete shareable link by ID
      operationId: deleteShareableLink
      parameters:
        - name: entryId
          in: path
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
      responses:
        '200':
          description: Shareable link deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
        '401':
          $ref: '#/components/responses/401-Response'
        '403':
          $ref: '#/components/responses/403-Response'
        '404':
          description: Shareable link not found
        '422':
          description: Invalid data specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'


  /folders/{folderId}/count:
    get:
      tags:
        - Files and Folders
      summary: Get count of items in a folder
      operationId: getFolderCount
      parameters:
        - $ref: '#/components/parameters/XSRFToken'
        - name: folderId
          in: path
          required: true
          schema:
            type: integer
          description: ID of the folder
      responses:
        '200':
          description: Successfully retrieved folder count
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    example: 16
        '401':
          $ref: '#/components/responses/401-Response'
        '403':
          $ref: '#/components/responses/403-Response'
        '404':
          description: Folder not found
          content:
[...]
